<a href="https://colab.research.google.com/github/KostasTheOne/Mobile-Apps-Project/blob/main/Profitable_Apps.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Profitable App Analysis for the App Store and Google Play Markets

Our aim in this project is to find mobile app profiles that are profitable for the App Store and Google Play markets. We're working as data analysts for a company that builds Android and iOS mobile apps, and our job is to enable our team of developers to make data-driven decisions with respect to the kind of apps they build.

At our company, we only build apps that are free to download and install, and our main source of revenue consists of in-app ads. This means that our revenue for any given app is mostly influenced by the number of users that use our app. Our goal for this project is to analyze data to help our developers understand what kinds of apps are likely to attract more users.

# Opening andExploring the Data

As of September 2018, there were approximately 2 million iOS apps available on the App Store, and 2.1 million Android apps on Google Play.
Collecting data for over four million apps requires a significant amount of time and money, so we'll try to analyze a sample of data instead. To avoid spending resources with collecting new data ourselves, we should first try to see whether we can find any relevant existing data at no cost. Luckily, these are two data sets that seem suitable for our purpose:

A [data set](https://www.kaggle.com/datasets/lava18/google-play-store-apps
) containing data about approximately ten thousand Android apps from Google Play.

A [data set](https://www.kaggle.com/datasets/ramamet4/app-store-apple-data-set-10k-apps
) containing data about approximately seven thousand iOS apps from the App Store.

In [2]:
import pandas as pd

In [3]:
apple_data = pd.read_csv("/content/AppleStore.csv")
apple_data.head()

,id,track_name,size_bytes,currency,price,rating_count_tot,rating_count_ver,user_rating,user_rating_ver,ver,cont_rating,prime_genre,sup_devices.num,ipadSc_urls.num,lang.num,vpp_lic
0,284882215,Facebook,389879808,USD,0.0,2974676,212,3.5,3.5,95.0,4+,Social Networking,37,1,29,1
1,389801252,Instagram,113954816,USD,0.0,2161558,1289,4.5,4.0,10.23,12+,Photo & Video,37,0,29,1
2,529479190,Clash of Clans,116476928,USD,0.0,2130805,579,4.5,4.5,9.24.12,9+,Games,38,5,18,1
3,420009108,Temple Run,65921024,USD,0.0,1724546,3842,4.5,4.0,1.6.2,9+,Games,40,5,1,1
4,284035177,Pandora - Music & Radio,130242560,USD,0.0,1126879,3594,4.0,4.5,8.4.1,12+,Music,37,4,1,1

In [4]:
apple_data.describe()

,id,size_bytes,price,rating_count_tot,rating_count_ver,user_rating,user_rating_ver,sup_devices.num,ipadSc_urls.num,lang.num,vpp_lic
count,7.197000e+03,7.197000e+03,7197.000000,7.197000e+03,7197.000000,7197.000000,7197.000000,7197.000000,7197.000000,7197.000000,7197.000000
mean,8.631310e+08,1.991345e+08,1.726218,1.289291e+04,460.373906,3.526956,3.253578,37.361817,3.707100,5.434903,0.993053
std,2.712368e+08,3.592069e+08,5.833006,7.573941e+04,3920.455183,1.517948,1.809363,3.737715,1.986005,7.919593,0.083066
min,2.816565e+08,5.898240e+05,0.000000,0.000000e+00,0.000000,0.000000,0.000000,9.000000,0.000000,0.000000,0.000000
25%,6.000937e+08,4.692275e+07,0.000000,2.800000e+01,1.000000,3.500000,2.500000,37.000000,3.000000,1.000000,1.000000
50%,9.781482e+08,9.715302e+07,0.000000,3.000000e+02,23.000000,4.000000,4.000000,37.000000,5.000000,1.000000,1.000000
75%,1.082310e+09,1.819249e+08,1.990000,2.793000e+03,140.000000,4.500000,4.500000,38.000000,5.000000,8.000000,1.000000
max,1.188376e+09,4.025970e+09,299.990000,2.974676e+06,177050.000000,5.000000,5.000000,47.000000,5.000000,75.000000,1.000000

In [5]:
apple_data.shape

(7197, 16)

In [6]:
android_data = pd.read_csv("/content/googleplaystore.csv")
android_data.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

In [7]:
android_data.describe()

            Rating
count  9367.000000
mean      4.193338
std       0.537431
min       1.000000
25%       4.000000
50%       4.300000
75%       4.500000
max      19.000000

As we can see, there are some irregularities in our data. For instance, the maximum value in the Rating column is 19, which is clearly incorrect since ratings should range from 0 to 5. Additionally, the output of the describe() function only shows the Rating column, indicating that it is the only numeric column in the dataset. To make our analysis more meaningful, we will attempt to convert other columns—such as Reviews, Size, Installs, and Price—into numeric formats where appropriate.

In [8]:
android_data.dtypes

App                object
Category           object
Rating            float64
Reviews            object
Size               object
Installs           object
Type               object
Price              object
Content Rating     object
Genres             object
Last Updated       object
Current Ver        object
Android Ver        object
dtype: object

In [9]:
android_data.shape

(10841, 13)

We will convert the Reviews column to numeric values and then verify the changes by using the describe() function again.

In [10]:
android_data["Reviews"] = pd.to_numeric(android_data["Reviews"], errors="coerce")
android_data.describe()

            Rating       Reviews
count  9367.000000  1.084000e+04
mean      4.193338  4.441529e+05
std       0.537431  2.927761e+06
min       1.000000  0.000000e+00
25%       4.000000  3.800000e+01
50%       4.300000  2.094000e+03
75%       4.500000  5.477550e+04
max      19.000000  7.815831e+07

If we attempt to convert the Installs column to numeric, a ValueError will occur, indicating that the string "Free" cannot be converted to a number. This shows that the column contains non-numeric values, which must be identified and removed from the dataset before conversion.

In [11]:
android_data["Installs"] = android_data["Installs"].str.replace(",", "", regex=True)

In [12]:
android_data["Installs"] =android_data["Installs"].str.replace(r"\+", "", regex=True).astype(int)

ValueError: invalid literal for int() with base 10: 'Free'

We identify rows in the 'Installs' column that still contain non-numeric values
even after removing commas and plus signs. We use str.isnumeric() to check
which entries are purely numeric. The tilde (~) negates the condition, so
we select rows that are NOT numeric. We then print the app name, installs,
and type columns to inspect the problematic entries.

In [13]:
non_numeric_installs = android_data[~android_data["Installs"].str.replace(",", "").str.replace(r"\+", "", regex=True).str.isnumeric()]
print(non_numeric_installs[["App", "Installs", "Type"]])

                                           App Installs Type
10472  Life Made WI-Fi Touchscreen Photo Frame     Free    0

Then, we observe the problematic row from our data.

In [14]:
android_data.loc[10472]

App               Life Made WI-Fi Touchscreen Photo Frame
Category                                              1.9
Rating                                               19.0
Reviews                                               NaN
Size                                               1,000+
Installs                                             Free
Type                                                    0
Price                                            Everyone
Content Rating                                        NaN
Genres                                  February 11, 2018
Last Updated                                       1.0.19
Current Ver                                    4.0 and up
Android Ver                                           NaN
Name: 10472, dtype: object

This row contains incorrect values and explains the observations we noticed at the start of our Google Play dataset analysis. So we remove the entire row and reset our dataset's index.

In [15]:
android_data.drop(index=10472, inplace=True)

In [16]:
android_data.reset_index(drop=True, inplace=True)

In [17]:
android_data.shape

(10840, 13)

In [18]:
android_data["Installs"] =android_data["Installs"].str.replace(r"\+", "", regex=True).astype(int)

In [19]:
print(android_data["Installs"])

0           10000
1          500000
2         5000000
3        50000000
4          100000
           ...
10835        5000
10836         100
10837        1000
10838        1000
10839    10000000
Name: Installs, Length: 10840, dtype: int64

In [20]:
android_data.describe()

            Rating       Reviews      Installs
count  9366.000000  1.084000e+04  1.084000e+04
mean      4.191757  4.441529e+05  1.546434e+07
std       0.515219  2.927761e+06  8.502936e+07
min       1.000000  0.000000e+00  0.000000e+00
25%       4.000000  3.800000e+01  1.000000e+03
50%       4.300000  2.094000e+03  1.000000e+05
75%       4.500000  5.477550e+04  5.000000e+06
max       5.000000  7.815831e+07  1.000000e+09

In [21]:
android_data["Price"] = android_data["Price"].str.replace(r"\$", "", regex=True).astype(float)

In [22]:
android_data.duplicated().sum()

np.int64(483)

In [23]:
android_data[android_data.duplicated()]

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
229,Quick PDF Scanner + OCR FREE,BUSINESS,4.2,80805.0,Varies with device,5000000,Free,0.0,Everyone,Business,"February 26, 2018",Varies with device,4.0.3 and up
236,Box,BUSINESS,4.2,159872.0,Varies with device,10000000,Free,0.0,Everyone,Business,"July 31, 2018",Varies with device,Varies with device
239,Google My Business,BUSINESS,4.4,70991.0,Varies with device,5000000,Free,0.0,Everyone,Business,"July 24, 2018",2.19.0.204537701,4.4 and up
256,ZOOM Cloud Meetings,BUSINESS,4.4,31614.0,37M,10000000,Free,0.0,Everyone,Business,"July 20, 2018",4.1.28165.0716,4.0 and up
261,join.me - Simple Meetings,BUSINESS,4.0,6989.0,Varies with device,1000000,Free,0.0,Everyone,Business,"July 16, 2018",4.3.0.508,4.4 and up
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8643,Wunderlist: To-Do List & Tasks,PRODUCTIVITY,4.6,404610.0,Varies with device,10000000,Free,0.0,Everyone,Productivity,"April 6, 2018",Varies with device,Varies with device
8654,"TickTick: To Do List with Reminder, Day Planner",PRODUCTIVITY,4.6,25370.0,Varies with device,1000000,Free,0.0,Everyone,Productivity,"August 6, 2018",Varies with device,Varies with device
8658,ColorNote Notepad Notes,PRODUCTIVITY,4.6,2401017.0,Varies with device,100000000,Free,0.0,Everyone,Productivity,"June 27, 2018",Varies with device,Varies with device
10049,Airway Ex - Intubate. Anesthetize. Train.,MEDICAL,4.3,123.0,86M,10000,Free,0.0,Everyone,Medical,"June 1, 2018",0.6.88,5.0 and up
10767,AAFP,MEDICAL,3.8,63.0,24M,10000,Free,0.0,Everyone,Medical,"June 22, 2018",2.3.1,5.0 and up

In [24]:
apple_data.duplicated().sum()

np.int64(0)

We observe that the Android dataset contains duplicate entries, whereas the Apple dataset appears to be clean. It is important to clearly define what we mean by duplicate values. Using the code above, we identify rows that are identical across all columns. However, there may also be apps that share the same name but have different values in other columns, and these are not captured by this definition of duplicates.

In [25]:
duplicated_values=android_data[android_data.duplicated(subset=["App"], keep=False)]

In [26]:
print(duplicated_values)

                                                  App             Category  \
1                                 Coloring book moana       ART_AND_DESIGN
23                             Mcqueen Coloring pages       ART_AND_DESIGN
36     UNICORN - Color By Number & Pixel Art Coloring       ART_AND_DESIGN
42                         Textgram - write on photos       ART_AND_DESIGN
139                              Wattpad 📖 Free Books  BOOKS_AND_REFERENCE
...                                               ...                  ...
10714                              FarmersOnly Dating               DATING
10719              Firefox Focus: The privacy browser        COMMUNICATION
10729                                     FP Notebook              MEDICAL
10752                  Slickdeals: Coupons & Shopping             SHOPPING
10767                                            AAFP              MEDICAL

       Rating    Reviews                Size   Installs  Type  Price  \
1         3.9      967.0                 14M     500000  Free    0.0
23        NaN       61.0                7.0M     100000  Free    0.0
36        4.7     8145.0                 24M     500000  Free    0.0
42        4.4   295221.0  Varies with device   10000000  Free    0.0
139       4.6  2914724.0  Varies with device  100000000  Free    0.0
...       ...        ...                 ...        ...   ...    ...
10714     3.0     1145.0                1.4M     100000  Free    0.0
10719     4.4    36981.0                4.0M    1000000  Free    0.0
10729     4.5      410.0                 60M      50000  Free    0.0
10752     4.5    33599.0                 12M    1000000  Free    0.0
10767     3.8       63.0                 24M      10000  Free    0.0

      Content Rating                           Genres       Last Updated  \
1           Everyone        Art & Design;Pretend Play   January 15, 2018
23          Everyone  Art & Design;Action & Adventure      March 7, 2018
36          Everyone          Art & Design;Creativity     August 2, 2018
42          Everyone                     Art & Design      July 30, 2018
139             Teen                Books & Reference     August 1, 2018
...              ...                              ...                ...
10714     Mature 17+                           Dating  February 25, 2016
10719       Everyone                    Communication       July 6, 2018
10729       Everyone                          Medical     March 24, 2018
10752       Everyone                         Shopping      July 30, 2018
10767       Everyone                          Medical      June 22, 2018

              Current Ver         Android Ver
1                   2.0.0        4.0.3 and up
23                  1.0.0          4.1 and up
36                  1.0.9          4.4 and up
42     Varies with device  Varies with device
139    Varies with device  Varies with device
...                   ...                 ...
10714                 2.2          4.0 and up
10719                 5.2          5.0 and up
10729           2.1.0.372          4.4 and up
10752                 3.9          4.4 and up
10767               2.3.1          5.0 and up

[1979 rows x 13 columns]

In [27]:
android_data[android_data['App']=="Instagram"]

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
2545,Instagram,SOCIAL,4.5,66577313.0,Varies with device,1000000000,Free,0.0,Teen,Social,"July 31, 2018",Varies with device,Varies with device
2604,Instagram,SOCIAL,4.5,66577446.0,Varies with device,1000000000,Free,0.0,Teen,Social,"July 31, 2018",Varies with device,Varies with device
2611,Instagram,SOCIAL,4.5,66577313.0,Varies with device,1000000000,Free,0.0,Teen,Social,"July 31, 2018",Varies with device,Varies with device
3909,Instagram,SOCIAL,4.5,66509917.0,Varies with device,1000000000,Free,0.0,Teen,Social,"July 31, 2018",Varies with device,Varies with device

In [28]:
duplicated_apps = []
unique_apps = []

for app in android_data["App"]:
  if app in unique_apps:
    duplicated_apps.append(app)
  else:
    unique_apps.append(app)
print(len(duplicated_apps))
print(duplicated_apps[:10])

1181
['Quick PDF Scanner + OCR FREE', 'Box', 'Google My Business', 'ZOOM Cloud Meetings', 'join.me - Simple Meetings', 'Box', 'Zenefits', 'Google Ads', 'Google My Business', 'Slack']

We should delete the duplicates but not random. As we can see in the "Instagram" example the only difference is in the number of reviews in each row. It's like they updated the dataset in different times, so we are going to keep only the rows with the most reviews, which means we are keeping the latest addition.

The first step is to use the groupby() function to group rows by the "App" column. From each group, we select the "Reviews" column, and then we apply the .max() function to retain only the maximum number of "Reviews" for each app. As a result, we obtain the reviews_max Series, which contains one value per app corresponding to its highest number of reviews.

In [60]:
reviews_max = android_data.groupby("App")["Reviews"].max()
reviews_max.head()

App
"i DT" Fútbol. Todos Somos Técnicos.       27.0
+Download 4 Instagram Twitter           40467.0
- Free Comics - Comic Apps                115.0
.R                                        259.0
/u/app                                    573.0
Name: Reviews, dtype: float64

In [61]:
android_clean = android_data.loc[android_data.groupby("App")["Reviews"].idxmax()]

In a previous code cell, we found that there are 1,181 cases where an app occurs more than once, so the length of our dictionary (of unique apps) should be equal to the difference between the length of our data set and 1,181.

In [65]:
print("Expected lenght:",len(android_data) - 1181)
print("Cleaned data lenght:",len(android_clean))

Expected lenght: 9659
Cleaned data lenght: 9659

In [63]:
android_clean[android_clean['App']=="Instagram"]

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
2604,Instagram,SOCIAL,4.5,66577446.0,Varies with device,1000000000,Free,0.0,Teen,Social,"July 31, 2018",Varies with device,Varies with device

In [66]:
android_clean.reset_index(drop=True, inplace=True)

In [68]:
android_clean.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,"""i DT"" Fútbol. Todos Somos Técnicos.",SPORTS,NaN,27.0,3.6M,500,Free,0.0,Everyone,Sports,"October 7, 2017",0.22,4.1 and up
1,+Download 4 Instagram Twitter,SOCIAL,4.5,40467.0,22M,1000000,Free,0.0,Everyone,Social,"August 2, 2018",5.03,4.1 and up
2,- Free Comics - Comic Apps,COMICS,3.5,115.0,9.1M,10000,Free,0.0,Mature 17+,Comics,"July 13, 2018",5.0.12,5.0 and up
3,.R,TOOLS,4.5,259.0,203k,10000,Free,0.0,Everyone,Tools,"September 16, 2014",1.1.06,1.5 and up
4,/u/app,COMMUNICATION,4.7,573.0,53M,10000,Free,0.0,Mature 17+,Communication,"July 3, 2018",4.2.4,4.1 and up

In [69]:
android_clean.describe()

            Rating       Reviews      Installs        Price
count  8196.000000  9.659000e+03  9.659000e+03  9659.000000
mean      4.173267  2.168041e+05  7.798170e+06     1.097231
std       0.536253  1.831430e+06  5.376973e+07    16.851618
min       1.000000  0.000000e+00  0.000000e+00     0.000000
25%       4.000000  2.500000e+01  1.000000e+03     0.000000
50%       4.300000  9.690000e+02  1.000000e+05     0.000000
75%       4.500000  2.945350e+04  1.000000e+06     0.000000
max       5.000000  7.815831e+07  1.000000e+09   400.000000

In [71]:
android_clean.shape

(9659, 13)

We do the same for apple_data.

In [73]:
duplicated_values=apple_data[apple_data.duplicated(subset=["track_name"], keep=False)]

In [74]:
print(duplicated_values)

              id           track_name  size_bytes currency  price  \
2948  1173990889  Mannequin Challenge   109705216      USD    0.0
4442   952877179    VR Roller Coaster   169523200      USD    0.0
4463  1178454060  Mannequin Challenge    59572224      USD    0.0
4831  1089824278    VR Roller Coaster   240964608      USD    0.0

      rating_count_tot  rating_count_ver  user_rating  user_rating_ver    ver  \
2948               668                87          3.0              3.0    1.4
4442               107               102          3.5              3.5  2.0.0
4463               105                58          4.0              4.5  1.0.1
4831                67                44          3.5              4.0   0.81

     cont_rating prime_genre  sup_devices.num  ipadSc_urls.num  lang.num  \
2948          9+       Games               37                4         1
4442          4+       Games               37                5         1
4463          4+       Games               38                5         1
4831          4+       Games               38                0         1

      vpp_lic
2948        1
4442        1
4463        1
4831        1

In [78]:
duplicate_count = apple_data["track_name"].duplicated().sum()
print(duplicate_count)
duplicate_apps = apple_data[apple_data["track_name"].duplicated(keep=False)]["track_name"].unique()
print(duplicate_apps)

2
['Mannequin Challenge' 'VR Roller Coaster']

In [82]:
apple_data[apple_data["track_name"]=="Mannequin Challenge"]
apple_data[apple_data["track_name"]=="VR Roller Coaster"]

,id,track_name,size_bytes,currency,price,rating_count_tot,rating_count_ver,user_rating,user_rating_ver,ver,cont_rating,prime_genre,sup_devices.num,ipadSc_urls.num,lang.num,vpp_lic
4442,952877179,VR Roller Coaster,169523200,USD,0.0,107,102,3.5,3.5,2.0.0,4+,Games,37,5,1,1
4831,1089824278,VR Roller Coaster,240964608,USD,0.0,67,44,3.5,4.0,0.81,4+,Games,38,0,1,1

In [84]:
apple_reviews_max = apple_data.groupby("track_name")["rating_count_tot"].max()
apple_clean = apple_data.loc[apple_data.groupby("track_name")["rating_count_tot"].idxmax()]
print(len(apple_data)-2)
print(len(apple_clean))

7195
7195

# Removing Non-English Apps

If you explore the datasets, you'll notice the names of some of the apps suggest they are not directed toward an English-speaking audience. We're not interested in keeping these kind of apps, so we'll remove them.

We make a function that detects non-English characters in app names. Since some English-name apps contain emojis or a small number of non-ASCII characters we allow up to 3 non-ASCII characters before classifying an app name as non-English. This approach is not perfectly accurate, it is appropriate for this dataset and helps minimize unnecessary data loss.

In [184]:
def is_english(string):
  non_ascii = sum(1 for char in string if ord(char) > 127)
  ascii_chars = sum(1 for char in string if ord(char) <= 127)
  if non_ascii >3:
    return False
  else:
    return True

In [185]:
android_english_apps = android_clean["App"].apply(is_english)

In [186]:
android_clean2= android_clean[android_english_apps]

In [187]:
android_clean2.shape

(9614, 13)

In [188]:
android_clean2.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,"""i DT"" Fútbol. Todos Somos Técnicos.",SPORTS,NaN,27.0,3.6M,500,Free,0.0,Everyone,Sports,"October 7, 2017",0.22,4.1 and up
1,+Download 4 Instagram Twitter,SOCIAL,4.5,40467.0,22M,1000000,Free,0.0,Everyone,Social,"August 2, 2018",5.03,4.1 and up
2,- Free Comics - Comic Apps,COMICS,3.5,115.0,9.1M,10000,Free,0.0,Mature 17+,Comics,"July 13, 2018",5.0.12,5.0 and up
3,.R,TOOLS,4.5,259.0,203k,10000,Free,0.0,Everyone,Tools,"September 16, 2014",1.1.06,1.5 and up
4,/u/app,COMMUNICATION,4.7,573.0,53M,10000,Free,0.0,Mature 17+,Communication,"July 3, 2018",4.2.4,4.1 and up

In [189]:
apple_english_apps = apple_clean["track_name"].apply(is_english)

In [190]:
apple_clean2 = apple_clean[apple_english_apps]

In [191]:
apple_clean2.shape

(6181, 16)

In [192]:
apple_clean2.head()

,id,track_name,size_bytes,currency,price,rating_count_tot,rating_count_ver,user_rating,user_rating_ver,ver,cont_rating,prime_genre,sup_devices.num,ipadSc_urls.num,lang.num,vpp_lic
6595,883539642,! OH Fantastic Free Kick + Kick Wall Challenge,162557952,USD,0.00,0,0,0.0,0.0,4.0,4+,Games,40,5,2,1
3592,486692623,"""Burn your fat with me!!""",149757952,USD,1.99,302,14,4.5,4.0,5.2.4,17+,Health & Fitness,38,0,3,1
2636,956794130,"""HOOK""",76611584,USD,0.99,959,150,5.0,5.0,1.04,4+,Games,40,5,1,1
3039,1105390093,"""klocki""",97887232,USD,0.99,587,587,4.5,4.5,1.01,4+,Games,37,2,1,1
5499,974022309,( OFFTIME ) light – Track how much you use you...,28471296,USD,2.99,22,14,2.0,2.0,2.1.0,4+,Health & Fitness,37,0,5,1

# Isolating the Free Apps

As we mentioned in the introduction, we only build apps that are free to download and install, and our main source of revenue consists of in-app ads. Our data sets contain both free and non-free apps, and we'll need to isolate only the free apps for our analysis. Below, we isolate the free apps for both our data sets.

In [193]:
android_clean2[android_clean2["Price"]==0]

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,"""i DT"" Fútbol. Todos Somos Técnicos.",SPORTS,NaN,27.0,3.6M,500,Free,0.0,Everyone,Sports,"October 7, 2017",0.22,4.1 and up
1,+Download 4 Instagram Twitter,SOCIAL,4.5,40467.0,22M,1000000,Free,0.0,Everyone,Social,"August 2, 2018",5.03,4.1 and up
2,- Free Comics - Comic Apps,COMICS,3.5,115.0,9.1M,10000,Free,0.0,Mature 17+,Comics,"July 13, 2018",5.0.12,5.0 and up
3,.R,TOOLS,4.5,259.0,203k,10000,Free,0.0,Everyone,Tools,"September 16, 2014",1.1.06,1.5 and up
4,/u/app,COMMUNICATION,4.7,573.0,53M,10000,Free,0.0,Mature 17+,Communication,"July 3, 2018",4.2.4,4.1 and up
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9648,乗換NAVITIME Timetable & Route Search in Japan T...,MAPS_AND_NAVIGATION,4.4,50459.0,Varies with device,5000000,Free,0.0,Everyone,Maps & Navigation,"July 26, 2018",Varies with device,Varies with device
9651,"漫咖 Comics - Manga,Novel and Stories",COMICS,4.1,12088.0,21M,1000000,Free,0.0,Mature 17+,Comics,"July 6, 2018",2.3.1,4.0.3 and up
9656,"💘 WhatsLov: Smileys of love, stickers and GIF",SOCIAL,4.6,22098.0,18M,1000000,Free,0.0,Everyone,Social,"July 24, 2018",4.2.4,4.0.3 and up
9657,📏 Smart Ruler ↔️ cm/inch measuring for homework!,TOOLS,4.0,19.0,3.2M,10000,Free,0.0,Everyone,Tools,"October 21, 2017",1.0,4.2 and up
9658,🔥 Football Wallpapers 4K | Full HD Backgrounds 😍,ENTERTAINMENT,4.7,11661.0,4.0M,1000000,Free,0.0,Everyone,Entertainment,"July 14, 2018",1.1.3.2,4.0.3 and up

In [194]:
apple_clean2[apple_clean2["price"]==0]

,id,track_name,size_bytes,currency,price,rating_count_tot,rating_count_ver,user_rating,user_rating_ver,ver,cont_rating,prime_genre,sup_devices.num,ipadSc_urls.num,lang.num,vpp_lic
6595,883539642,! OH Fantastic Free Kick + Kick Wall Challenge,162557952,USD,0.0,0,0,0.0,0.0,4.0,4+,Games,40,5,2,1
3211,1140586546,*Solitaire*,124961792,USD,0.0,460,10,4.5,4.5,2.3.1,4+,Games,37,5,1,1
2264,662749248,. Calculator .,59232256,USD,0.0,1525,352,4.5,5.0,3.15,4+,Utilities,37,5,31,1
1792,953831664,1+2=3,21727232,USD,0.0,2816,37,4.0,3.5,9.13.0,4+,Games,37,4,1,1
3396,1128070374,1-Bit Rogue: A dungeon crawler RPG!,64439296,USD,0.0,378,106,4.5,4.5,1.3,12+,Games,38,3,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7161,1077585444,針の穴,15624192,USD,0.0,0,0,0.0,0.0,1.0.1,4+,Games,38,5,2,1
4028,564818797,铁路12306,28961792,USD,0.0,177,0,2.0,0.0,2.80,4+,Travel,38,0,1,1
4140,453691481,飞猪,148888576,USD,0.0,154,0,4.0,0.0,8.2.2,17+,Travel,37,0,1,1
6021,632460897,鬼とび,9931776,USD,0.0,6,1,5.0,5.0,1.1.3,4+,Games,40,3,2,1
6759,1059271164,ｗｗｗ,14366720,USD,0.0,0,0,0.0,0.0,1.0.1,4+,Games,40,4,2,1

# Most common Genres by App

As we mentioned in the introduction, our aim is to determine the kinds of apps that are likely to attract more users because our revenue is highly influenced by the number of people using our apps.

To minimize risks and overhead, our validation strategy for an app idea is comprised of three steps:

Build a minimal Android version of the app, and add it to Google Play.
If the app has a good response from users, we then develop it further.
If the app is profitable after six months, we also build an iOS version of the app and add it to the App Store.
Because our end goal is to add the app on both the App Store and Google Play, we need to find app profiles that are successful on both markets. For instance, a profile that might work well for both markets might be a productivity app that makes use of gamification.